
<div class="row logo">
  <div class="col-md-12">
    <img src="{{ page.group_image }}" alt="Java User Group" />
    <h1>so coded 2016 - {{ page.group_title }}</h1>
  </div>
</div>

<hr />

<div class="row info">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center content">
    <p>{{ page.group_intro }} We are happy to welcome you to <a href="/">So Coded 2016</a>.</p>
    <p>Sign up for our newsletter below and get your personal <strong>25% discount</strong> code, right away!</p>

    {% include discount_email_form.html %}
  </div>
  <div class="col-md-3"></div>
</div>

<hr />