<footer class="footer">
  <div class="container text-center">
    <ul>
      <li><a href="http://2013.socoded.com" target="_blank">So&nbsp;Coded&nbsp;2013</a></li>
      <li><a href="http://2015.socoded.com" target="_blank">So&nbsp;Coded&nbsp;2015</a></li>
      <li><a href="mailto:we@socoded.com">Contact&nbsp;Us</a></li>
    </ul>

    <ul>
      <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
      <li><a href="/recording-policy.html">Recording Policy</a></li>
    </ul>

    <p class="text-muted">Imprint: Thorben Schröder - Am Hohen Stege 10 - 21029 Hamburg - thorben@socoded.com</p>
  </div>
</footer>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
function removeCookie(sKey, sPath, sDomain) {
    document.cookie = encodeURIComponent(sKey) +
                  "=; expires=Thu, 01 Jan 1970 00:00:00 GMT" +
                  (sDomain ? "; domain=" + sDomain : "") +
                  (sPath ? "; path=" + sPath : "");
}
</script>
